/* Style for all */
html {
  font-size: 10px;
  font-family: sans-serif;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style for navbar */
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}
#navbar > header {
  font-size: 3rem;
  text-align: center;
  margin: 10px;
}
#navbar > ul {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  padding: 0;
}
#navbar > ul > li {
  border-top: 1px solid #000;
  list-style: none;
  width: 100%;
  position: relative;
}
#navbar > ul > li > a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #555;
  font-size: 1.6rem;
  cursor: pointer;
}
@media (max-width: 900px) {
  #navbar {
      position: relative;
    width: 100%;
  }
  #navbar > ul {
      height: 210px;
      border-top: 1px solid #000;
      border-bottom: 2px solid #000;
  }
}

/* Style for main-doc */
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
@media (max-width: 900px){
  #main-doc {
    position: relative;
    margin-left: 0px;
  }
}
.main-section > header {
  font-size: 3rem;
  padding: 5px 0px;
}
section article {
  color: #555;
  margin: 15px;
  font-size: 1.6rem;
}
.main-section > p {
  font-size: 1.6rem;
  
}
section li {
  margin: 15px 0px 0px 60px;
}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}
@media (max-width: 400px) {
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 40px;
    min-width: 233px;
  }
}