@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f1f1f2;
  --color-blue: #0088b9;
  --color-blackalpha: rgba(0, 0, 0, 0.7);
  --color-green: #00b931;
  --color-greenalpha: rgba(0, 185, 49, 0.8);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Poppins', sans-serif;
  line height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--color-white);
  margin: 0px;
  text-align: center;
}
body::before {
  content: '';
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: var(--color-blue);
  background-image: linear-gradient(160deg, rgba(0, 136, 185, 0.8), rgba(136, 136, 206, 0.7)), url(./img/back.jpg);
  background-size: cover;
}
.container {
  width: 100%;
  margin: 5rem auto 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
}
#title {
  font-size: 3rem;
  margin-bottom: 0px;
}
#description {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
form {
  background: var(--color-blackalpha);
  width: 100%;
  height: max-content;
  border-radius: 0.5rem;
  margin: 3rem 0 0 0;
  text-align: left;
  padding: 3.5rem;
}
input, select, textarea, button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--color-blackalpha);
}
input:focus, select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
textarea {
  border-radius: 0px;
}
p input {
  width: auto;
}
label, input, select, option, p, textarea {
  font-size: 1.8rem;
  font-weight: 500;
}
strong {
  font-size: 1.4rem;
  font-weight: 300;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0px 1rem 0px auto;
  height: 2rem;
  width: 2rem;
  paddin: 0px;
  float:left
}
p {
  margin: 1.2rem 0; 
  padding: 0px;
}
#submit {
  background-color: var(--color-green);
  border: none;
  height: 4.5rem;
  color: var(--color-white);
  font-size: 1.8rem;
  cursor: pointer;
}
#submit:hover {
  background-color: var(--color-greenalpha);
}