:root {
  --color-white: #f0f0f0;
  --color-red: #be3144;
  --color-blue: #45567d;
  --color-gray: #303841;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% = 10px */
  scroll-behavior: smooth;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base Style */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.2rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
img {
  display: block;
  width: 100%;
}

/* Style for Navbar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
#navbar > .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 2rem;
}
#navbar .nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  cursor: pointer;
}
#navbar .nav-list a:hover {
  background-color: var(--color-blue);
}
@media (max-width: 28.75em) {
  #navbar > .nav-list {
    justify-content: center;
    margin-right: 0px;
  }
}

/* Style for welcome-section */
#welcome-section {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#welcome-section p {
  color: var(--color-red);
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
}

/* Style for projects */
#projects {
  text-align: center;
  padding: 10rem 2rem;
  background-color: var(--color-blue);
}
.project-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--color-white);
}
@media (max-width: 28.75em) {
  .project-header {
    font-size: 4rem;
  }
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
  #projects {
    padding: 6rem 1rem;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }
}
.project {
  background: var(--color-gray);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.code {
  color: var(--color-gray);
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: var(--color-red);
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.project-title {
    font-size: 2rem;
    padding: 2rem 1rem;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}
.btn-show-all {
    font-size: 2rem;
    background: var(--color-gray);
    transition: background 0.3s ease-out;
}
.btn-show-all:hover {
    background: var(--color-red);
}
.btn-show-all:hover i {
    transform: translateX(0.2rem);
}
.btn-show-all > i {
    margin-left: 1rem;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/* Style for contacts */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  background-color: var(--color-gray);
}
.contact-header {
  font-size: 6rem;
}
@media (max-width: 28.75em) {
  .contact-header {
    font-size: 4rem;
  }
}
.contact-desc {
  text-align: center;
  font-weight: 200;
  font-style: italic;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.btn-profile-link {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.btn-profile-link:hover {
  transform: translateY(8px);
}