:root {
  --color-white: #eee;
  --color-gray: #dddddd;
  --color-black: #000000;
  --color-orange: #f1a20f;
  --color-yellow: #f1c40f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  line height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
  background: var(--color-white);
}

.page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
/* Style For Header */
#header {
  top: 0;
  position: fixed;
  padding: 0px 5rem;
  width: 100%;
  min-height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--color-white);
}
@media (max-width: 600px) {
  #header {
    flex-wrap: wrap;
  }
}
.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
nav {
  font-weight: 400;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

.nav-link {
  font-size: 1.6rem;
}

/* Style for body content */
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 25px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px var(--color-black) solid;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 50px;
}

#hero > h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  word-wrap: break-word;
}

#form {
  text-align: center;
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px auto;
  border: 0;
  background: var(--color-yellow);
}

#hero input[type="submit"]:hover {
  background: var(--color-orange);
  transition: background 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

/* Style for features */
#features {
  margin-top: 30px;
}

.grid {
  display: flex;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: var(--color-orange);
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

.desc > h2 {
  font-size: 2.5rem;
}

.desc > p {
  font-size: 1.5rem;
}