/* Style for global */
:root {
  --blue: #0088b9;
  --gray: #f1f2f2;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

/* Style for main */
#main {
  text-align: center;
  margin: 2rem 1rem;
  padding: 5rem 1rem 2rem 1rem;
  border-radius: 0.4rem;
  background: var(--gray);
}

/* Style for main title */
#title {
  font-size: 3rem;
  margin-top: 2rem;
}
.desc {
  font-size: 1.5rem;
}
