/* Style for global */
:root {
  --gray: #f1f2f2;
  --black: #343331;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

/* Style for main */
#main {
  text-align: center;
  margin: 2rem 1rem;
  padding: 5rem 1rem 2rem 1rem;
  border-radius: 0.4rem;
  background: var(--black);
}

/* Style for main title */
#title {
  font-size: 4rem;
  margin-top: 2rem;
  color: var(--white);
}
@media (max-width: 650px) {
  #title {
    font-size: 3rem;
  }
}
.desc {
  font-size: 2rem;
  color: var(--white);

}

/* Style for figure */
#img-div {
  padding: 2rem;
  margin: 4rem auto;
  width: 100%;
  max-width: 600px;
  background-color: var(--white);
  border-radius: 0.4rem;
}
#image {
  display: block;
  border-radius: 0.4rem;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  padding-top: 1rem;
  font-size: 1.5rem;
}

/* Style for tribute-info */
#tribute-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.tribute-info-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.tribute-info-article {
  text-align: justify;
  width: 100%;
  max-width: 600px;
  font-size: 1.5rem;
}
.tribute-info-article p {
  margin-bottom: 1rem;
}