/* Style for global */
:root {
  --gray: #f1f2f2;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

/* Style for main */
#main {
  text-align: center;
  margin: 2rem 1rem;
  padding: 5rem 1rem 2rem 1rem;
  border-radius: 0.4rem;
  background: var(--gray);
}

/* Style for main title */
#title {
  font-size: 3rem;
  margin-top: 2rem;
}
.desc {
  font-size: 1.5rem;
}

/* Style for figure */
#img-div {
    padding: 2rem;
    margin: 4rem auto;
    width: 100%;
    max-width: 900px;
    background-color: var(--white);
    border-radius: 0.4rem;
}
#image {
    border-radius: 0.4rem;
}
#img-caption {
    padding-top: 1rem;
    font-size: 1.5rem;
}